<div th:fragment="form">
    <form th:action="@{/category/create}" method="post" class="card p-3 shadow">
        <div class="mb-3">
            <label>ID</label>
            <input type="text" class="form-control" th:field="*{item.id}" required>
        </div>
        <div class="mb-3">
            <label>Tên loại</label>
            <input type="text" class="form-control" th:field="*{item.name}" required>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-success" formaction="/category/create">Thêm mới</button>
            <button class="btn btn-primary" formaction="/category/update">Cập nhật</button>
        </div>
    </form>
</div>
